.page-header {
    background-color: #455A64;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
     /* Make it stick, even on scroll */
}

.page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
}
/*TO.DO*/
/* to make things more responsive */
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_responsive */
nav {          /* for hamburger side nav bar*/
    display: block;
    list-style-type: none;
    z-index: 0;
    margin: 5px;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
nav li a.active{
    color: white;
    background-color: #455A64;
}

nav li a{
    color: #90a4ae;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {

}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.toolbar {
    padding-top: 22px;
    overflow: hidden;
    background-color: #455A64;
    position: fixed;
    top:85%;
    right:6%;
    left:86%;
    width: 80px;
	  height: 80px;
}

.toolbar a,.toolbar a:hover, .toolbar a:visited, .toolbar button{
    color: #ffffff;
    display: table;
    margin: 0 auto;
    font-size: 26pt;
}

.toolbar button{
  outline: 0;
  border-color:#fff;
  box-shadow: none;
  border: 0px solid #00AA66;
}

body {
  overflow-x: hidden;
}
